# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Model weights
# *.pt
*.pth

# Input files
input/*

# Output files
output/*

# image files
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.gif

# video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv